extends layout

block content
	h1 About Me
	p My name is Adam Abdulhamid. Right now I'm a master's student at Stanford, expecting to graduate with a M.S. in computer science in the spring of 2017. I just graduated from Stanford with a B.S. in computer science with a concentration in artificial intelligence. I took machine learning during my junior year, and was awed by the cool research and applications, and decided then that I wanted to pursue this field.  

	p I grew up in Calabasas, CA, a suburb on the north side of Los Angeles. I played water polo growing up since I was 13 years old, and just recently finished my NCAA career at Stanford. I'm really interested in aritifical intelligence and machine learning, and want to be a part of the incredibly bright future of these fields. I enjoy playing the ukulele, snowboarding, and staying fit. 

