extends layout

block content
	h1 Contact Me
	p Please feel free to email me #[a(href='mailto:adama94@cs.stanford.edu') here] (adama94@cs.stanford.edu) or connect with me on LinkedIn #[a(href='https://www.linkedin.com/in/adam-abdulhamid-2635b054') here]!